/*
* Jesse James theme configuration
*/
/* Imports */
/* Susy - Configuration */
/* Susy - Configuration - Debug */
/*
// Use this in configuration to setup debugging
$susy: (
	// the basics
	columns: 26,
	gutters: .74,
	column-width: 1.2em,
	// advanced
	math: static,
	debug: (
		image: show,
		color: blue,
		output: overlay,
		toggle: top left
	)
);
// Use this in container areas to show grids
*/
/* Global Defaults */
/*
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
*/
/* IE9 - Gradient support IE9 SVG, needs conditional override of 'filter' to 'none' */
/* Settings */
/* Colors - Nicholls */
/* Colors - Nicholls - Palette A */
/* Colors - Nicholls - Palette B */
/* Colors - Links & Text */
/* Colors - By Area */
/* Colors - Layout Utilities */
/* Utilities */
/* Nicholls Colors - Basic */
/* Color Util */
/* Nicholls Colors - Greys */
/* Color Util */
/* color classes */
/* Border Color Utility */
/* -- Jess's madness starts here -- */
/* Layout - Default breakpoint is 945 */
/* line 254, ../sass/nicholls_core/nicholls_core.scss */
body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/* line 260, ../sass/nicholls_core/nicholls_core.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

/* line 264, ../sass/nicholls_core/nicholls_core.scss */
.site, .site-header {
  width: 63.84em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0;
  position: relative;
  clear: both;
}
/* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.site:after, .site-header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 272, ../sass/nicholls_core/nicholls_core.scss */
.site-header {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

/* line 277, ../sass/nicholls_core/nicholls_core.scss */
.content-area {
  width: 42.96em;
  float: left;
  margin-right: 0.888em;
}

/* line 281, ../sass/nicholls_core/nicholls_core.scss */
.widget-area {
  width: 19.992em;
  float: right;
  margin-right: 0;
}

/* see jesse_james_body_class_filter() */
/* line 286, ../sass/nicholls_core/nicholls_core.scss */
.widgets-sidebar-1-inactive .content-area {
  width: 63.84em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.widgets-sidebar-1-inactive .content-area:after {
  content: " ";
  display: block;
  clear: both;
}

/* Layout - Large Screen breakpoint is 1166 */
@media (min-width: 80em) {
  /* line 293, ../sass/nicholls_core/nicholls_core.scss */
  .site, .site-header {
    width: 76.368em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .site:after, .site-header:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 297, ../sass/nicholls_core/nicholls_core.scss */
  .content-area {
    width: 53.4em;
    float: left;
    margin-right: 0.888em;
  }

  /* line 301, ../sass/nicholls_core/nicholls_core.scss */
  .widget-area {
    width: 19.992em;
    float: right;
    margin-right: 0;
  }

  /* line 305, ../sass/nicholls_core/nicholls_core.scss */
  .widgets-sidebar-1-inactive .content-area {
    width: 76.368em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .widgets-sidebar-1-inactive .content-area:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* Layout - Tablet Screen breakpoint is  */
@media (min-width: 46em) and (max-width: 62em) {
  /* line 314, ../sass/nicholls_core/nicholls_core.scss */
  .site, .site-header {
    width: 47.136em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .site:after, .site-header:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 318, ../sass/nicholls_core/nicholls_core.scss */
  .content-area, .widget-area {
    width: 47.136em;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 322, ../sass/nicholls_core/nicholls_core.scss */
  .widgets-sidebar-1-inactive .content-area {
    width: 47.136em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .widgets-sidebar-1-inactive .content-area:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* Layout - Phone Screen Landscape breakpoint is  */
@media (min-width: 31em) and (max-width: 46em) {
  /* line 331, ../sass/nicholls_core/nicholls_core.scss */
  .site, .site-header {
    width: 34.608em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .site:after, .site-header:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 335, ../sass/nicholls_core/nicholls_core.scss */
  .content-area, .widget-area {
    width: 34.608em;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 339, ../sass/nicholls_core/nicholls_core.scss */
  .widgets-sidebar-1-inactive .content-area {
    width: 34.608em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .widgets-sidebar-1-inactive .content-area:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* Layout - Phone Screen Portrait breakpoint is  */
@media (min-width: 0em) and (max-width: 31em) {
  /* line 348, ../sass/nicholls_core/nicholls_core.scss */
  .site, .site-header {
    width: 22.08em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .site:after, .site-header:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 352, ../sass/nicholls_core/nicholls_core.scss */
  .content-area, .widget-area {
    width: 22.08em;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 356, ../sass/nicholls_core/nicholls_core.scss */
  .widgets-sidebar-1-inactive .content-area {
    width: 22.08em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .widgets-sidebar-1-inactive .content-area:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* 480px */
@media only screen and (min-width: 1px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  /*  @import 'media/6-column'; */
}
/* 768px */
@media only screen and (min-width: 481px) and (max-width: 809px) {
  /*  @import 'media/9-column'; */
}
/* 768px */
@media only screen and (min-width: 810px) and (max-width: 1009px) {
  /*  @import 'media/14-column'; */
}
/* 992px */
@media only screen and (min-width: 1010px) and (max-width: 1381px) {
  /*  @import 'media/19-column'; */
}
/* 1382px */
@media only screen and (min-width: 1382px) {
  /*  @import 'media/22-column'; */
}
/* 2x */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /*  @import 'media/high-rez'; */
}
/* Print */
/* Compatibility - IE and other compatibility issues */
/* Header ,Branding, & Navigation */
/*
We will need to move breakpoint modifications into other breakpoint blocks as needed.
*/
/* line 409, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-header-wrapper- {
  width: 100%;
  background-color: #000;
}

/* Logo - sword */
/* line 416, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-site-branding {
  width: 10em;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 102;
}

/* line 424, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-site-title {
  width: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  float: left;
}

/* line 432, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-site-title a {
  background: url("images/logo/Nicholls-N-Sword-w-text.png");
  background: url("images/logo/Nicholls-N-Sword-w-text.svg"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* line 438, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-site-title a {
  display: block;
  font-size: 2rem;
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/* Logo - wordmark */
/* line 451, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-logo-wordmark {
  width: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  float: left;
}

/* line 459, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-logo-wordmark a {
  background: url("images/logo/Nicholls-Wordmark-white.png");
  background: url("images/logo/Nicholls-Wordmark-white.svg"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* line 465, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-logo-wordmark a {
  display: block;
  font-size: 2rem;
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/* line 476, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-site-description {
  position: absolute;
  width: auto;
  font-size: 80%;
  font-weight: 100;
  padding: 0 .2em;
  margin: 0;
  position: relative;
  color: #000;
  text-align: center;
}

/* Navigation */
/* secondary */
/* line 493, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- {
  width: auto;
  margin: 0 auto;
  position: relative;
  float: none;
  z-index: 100;
  text-align: left;
}

/* line 502, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- .menu {
  display: inline-block;
  /* centers modern browsers */
  margin: 0 auto;
  /* centers modern browsers */
  text-align: center;
  /* centers IE6/7 */
}

/* line 508, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- ul, .nicholls-secondary-navigation- ul ul {
  list-style-type: none;
  list-style-position: inside;
  list-style-image: none;
  display: block;
  /* IE6/7 haslayout trip-switch */
}

/* line 515, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- ul {
  display: inline-block;
  /* IE6/7 haslayout trip-switch */
  margin: 0;
  padding: 0;
}

/* line 521, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- ul li {
  display: inline;
  padding: .2em;
  border-bottom: 1px solid #999;
}

/* line 528, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- ul li:last-child {
  border-bottom-right-radius: 1.5em;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
}

/* line 537, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- ul li a {
  display: inline-block;
  padding: 0 1em .4em 1em;
  font-size: 80%;
  font-weight: 600;
}

/* primary */
/* line 546, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- {
  width: auto;
  margin: 0 auto;
  position: relative;
  float: none;
  clear: both;
  z-index: 100;
  text-align: center;
  background-color: #cc3333;
}

/* line 557, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- .menu {
  display: inline-block;
  /* centers modern browsers */
  margin: 0 auto;
  /* centers modern browsers */
  text-align: center;
  /* centers IE6/7 */
  width: 63.84em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.nicholls-primary-navigation- .menu:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 566, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul, .nicholls-primary-navigation- ul ul {
  list-style-type: none;
  list-style-position: inside;
  list-style-image: none;
  margin: 0;
  padding: 0;
  /* see http://stackoverflow.com/questions/9894176/make-li-fit-the-width-of-the-ul-using-css */
  width: 100%;
  display: table;
  /* display: block; */
  /* IE6/7 haslayout trip-switch */
}

/* line 581, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul {
  /* display: inline-block; */
  /* IE6/7 haslayout trip-switch */
}

/* line 585, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul li {
  display: inline-block;
  padding: .2em;
  margin: 0;
  /* see http://stackoverflow.com/questions/9894176/make-li-fit-the-width-of-the-ul-using-css */
  display: table-cell;
  width: auto;
  text-align: center;
}

/* line 597, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul ul {
  box-shadow: none;
  float: left;
  left: -999em;
  position: absolute;
  top: 1.5em;
  z-index: 99999;
  margin: 0;
  padding: 0;
}

/* line 608, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul ul li {
  margin: 0;
  padding: 0;
}

/* line 613, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul ul a {
  width: auto;
}

/* line 617, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- .menu-item a {
  padding: 0 .4em;
  /* variable width */
  font-weight: 700;
}

/* primary & secondary */
/* line 625, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul li a {
  color: #fff;
  text-decoration: none;
}

/* line 630, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul li a:link,
.nicholls-primary-navigation- ul li a:active,
.nicholls-primary-navigation- ul li a:visited {
  color: #fff;
}

/* line 636, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-primary-navigation- ul li a:hover {
  color: #fff;
}

/* line 640, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- ul li a,
.nicholls-secondary-navigation- ul li a:link,
.nicholls-secondary-navigation- ul li a:active,
.nicholls-secondary-navigation- ul li a:visited {
  color: #999;
  text-decoration: none;
}

/* line 648, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-secondary-navigation- ul li a:hover {
  color: #999;
}

/* Call to Action Buttons */
/* line 654, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-cta-secondary {
  width: 20em;
  display: block;
  float: left;
}

/* line 660, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-cta-primary {
  width: 20em;
  display: block;
  float: right;
}

/* line 666, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-cta-secondary a {
  display: block;
  background-color: #999;
  clear: both;
}

/* line 672, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-cta-primary a {
  display: block;
  background-color: #cc3333;
  margin-top: -2em;
}

/* Footer */
/* line 680, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-footer-wrapper- {
  background-color: #000;
}

/* Louisiana map */
/* line 686, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-la-state-map {
  width: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  float: left;
}

/* line 694, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-la-state-map a {
  background: url("images/louisiana-map-thibodaux.png");
  background: url("images/louisiana-map-thibodaux.svg"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* line 700, ../sass/nicholls_core/nicholls_core.scss */
.nicholls-la-state-map a {
  display: block;
  font-size: 2rem;
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
